.produtosRelacionados{

    width:1280px;
    height:72px;
    margin-top:12px;
    display:flex;
    align-items:center;
    justify-content:center;
    direction:column;

    font-weight: bold;
    font-size: 30px;

  
}

.opcoesDeMenu{
    width:1264px;
    height:37px;
    display:flex;
    direction:row;
      align-items:center;
     justify-content:center; 
    /* background-color:red; */
}

.listasOpcoesMenu{
    width:1141px;
    height:20px;
    display:flex;
    direction:row;
    /* background-color: blue; */

}

.listasOpcoesMenu li{
    width: 211.5px;
    height: 30px;
    list-style: none;
    color:#3B3B3B;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #BDBDBD;
    font-size: 16px;
    line-height: 16px;
    display:flex;
    align-items: center;
    justify-content:center;
}

.linkPromocao{
    color:#F71963;
    font-weight:bold;
}