.segundaParteFooter{
    width:1280px;
    height:70px;
    border-top: 2px solid #ffffff;
    display:flex;
    direction:row;
}

.textoCopyright{
    width:698px;
    height:26px;
    margin-top:18px;
    margin-left:100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.logoEconverse{
    margin-left:190px;
    margin-top:18px;
}

.logoVtex{
    margin-left:30px;
    margin-top:18px;
}

